.btn-light:hover{
    filter: brightness(95%);
}
.halovany{
    filter: brightness(76%);
    filter: blur(1);
    pointer-events: none;
    user-select: none;
    max-height: 89vh;
    overflow: hidden;
}
.elerhetoek{
    border-radius: 10em;
}
.bogyo{
    font-size: .6em;
}
#extra .badge:hover{
    color: var(--bs-gray);
}
#extra{
    filter: brightness(1);
    filter: blur(0);
    position: fixed;
    top:0;
    inset-inline: 0;
    margin-inline: auto;
    pointer-events: all;
    user-select: auto;
}
.uj{
    justify-content: center;
}
.ujgomb{
    font-size: 4rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    line-height: 0;
    padding-block: 0;
}
#deck{
    justify-content: space-around;
}
.hiba {
    color: var(--bs-danger);
    font-size: .7rem;
}